.Products {
  height: 100%;
  border-radius: 20px;
}
.operations {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: lightgray;
  padding: 10px 0px;
  border-radius: 20px;
}

.operations input {
  margin-left: 25px;
}

.productsContent {
  height: 70%;
}
